.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

h1{
    font-size: 3rem;
}

input{
    font-size: 3rem;
    border: none;
    background-color: #6943FF;
    color: white;
    width: 60px;
    text-align: center;
}

input:focus{
    outline:none;
}

h3{
    font-size: 1.5rem;
}

body,h1,h3,h4 {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    
}



#headeri{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-height: 100dvh;
    justify-content: flex-start;
    background-color: #F4F4F4;
    
}


.wrapper{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 0px; 
    width: min(100%, 600px);
    background-color: #6943FF;
}

.measure-c{
    margin-top: 25px;
}

.convert-btn-c{
    margin-top: 1.2rem;
    padding-bottom: 1.8rem;
}

.measure-c{
    border: pink solid 1px;
    padding: 10px 20px;
    border-radius: 5px;
}


#convert-btn{
    padding:10px 28px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    color:#3D3D3D;
    font-size: 14px;
    box-shadow: 0px 1px 2px 0px #0000000D;
}

#convert-btn:hover{
    cursor: pointer;
    opacity: 0.6;
}

#conversion-cnt{
    width: min(100%, 600px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}


.card{
    background-color: white;
    padding: 2rem 0 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    width:95%;
    color: #5A537B;
}

p{
    font-size: 0.8rem;
    font-weight: 400;
}